body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to bottom, #1a1a2e, #16213e);
    background-image: url('/img/1588355195190410678.png'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;
}


.auth-container {
    background: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    width: 300px;
}

h1 {
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 10px;
}

p {
    color: #ffffff;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.3);
    color: #fff;
}

input::placeholder {
    color: #fff;
}

button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #ff007a;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background: #e6005c;
}